.plop{
  background-image: linear-gradient(141deg, #a8bec5 0%, white 51%, #dddfb6 95%);
}

.advices {
  padding-top: 10%;
  padding-bottom: 10%;

  .Colonne {
    position: relative;
  }

  .purchase,
  .use,
  .reuse,
  .destruction {
    max-height: 300px;
    text-align: center;

  }

  .policetitre {
    font-family: 'Bebas'important;
    font-weight: bold;
    color: white;

    .titreCONCEPTION {
      padding: 20px;
      font-size: 35px;
    }

    .titreACHAT {
      padding-left: 80px;
      padding-top: 80px;
      font-size: 35px;
    }

    .titreUTILISATION {
      padding-bottom: 80px;
      font-size: 35px;
      color: black;
    }

    .titreREUTILISATION {
      padding-left: 0;
      padding-top: 80px;
      font-size: 35px;
    }

    .titreDESTRUCTION {
      padding: 20px;
      font-size: 35px;
    }

  }

  .Img {
    position: absolute;
    top: 50%;

  }

  .hoverAdvicesImg {
    position: absolute;
    color: black;

  }

  .conception {
    max-width: 300px;
  }

  .concep {
    left: auto;
    top: 50%;

  }

  .link {
    margin: 0px;
    padding: 0px;
  }

  .purchase {
    margin-left: -14%;

  }

  .reuse {
    margin-left: -30%;
  }

  .reut {

    margin-bottom: 111%;
    bottom: 10%;
    right: 10%;


  }

  .destruction {
    margin-left: -1%;
  }

  .dest {
    left: 0%;
    top: 1%;

  }

  .purchase,
  .use {
    margin-bottom: 4.4%;
  }

  .uti {
    right: 0%;
    top: 1%;

  }
  .achat {
    right: 0%;
    top: 20%;

  }
}