.advices{
  padding-top: 10%;
  padding-bottom: 10%;

  .Colonne {
    position: relative;
  }

  .purchase, .use, .reuse, .destruction{
    max-height: 300px;
    text-align: center;

  }

  .policetitre {
    font-family: 'Bebas'important;
    font-size: 30px;
    color: white;

  }
  .Img{
    position: absolute;
    top: 50%;

  }

  .hoverAdvicesImg {
    position: absolute;
    color: black;

  }

  .conception{
    max-width: 300px;
  }

  .concep {
    left: auto;
    top: 50%;

  }

  .link {
    margin: 0px;
    padding: 0px;
  }
  .purchase{
    margin-left: -14%;

  }

  .reuse{
    margin-left: -30%;
  }
  .reut {

    margin-bottom: 111%;
    bottom: 10%;


  }
  .destruction{
    margin-left: -2%;
  }
  .dest {
    left: 44%;
    top: 50%;

  }
  .purchase, .use{
    margin-bottom: 4.4%;
  }

  .uti, .achat {
    left: 40%;
    top: 50%;

  }
}




