@import '../index.scss';

.Bilan{
    padding: 150px 150px 50px 150px;
        background-image: url('/images/iceland-1979445_1280.jpg');
    background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: 100%;

.entourage{
background-color: #3ea771c5;
 padding: 40px;
 border-radius: 25px;
}
.title{
  padding: 20px 0px 0px 50px;
}

  .button_submit{
    border-radius: 8px;
      padding: 20px 100px 20px 100px;
       margin: 0px 290px 0px 290px;
    border: none;
    background-color: #000724;
    color: white;
    align-self: center;
    font-weight: bold;
    transition: 0.4s;
font-size: 1.5em;
 font-family: 'Caviar Dreams' !important;
  }
  .button_submit:hover{
    background-color: white;
    color: black;
    transition: 0.4s;
  }
  .fiche_salarier{
    padding: 50px 50px 20px 50px;
    font-family: 'Calibri' !important;
    font-size: 1.3em;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
  }
  .conseil_liste{
    display: flex;
    padding: 20px;
    justify-content: space-around;
  }
  .valid{
    margin: 50px 0px 100px 20%;
  padding: 100px 0px 0px 0px;
  }
  .conseil{
    border: 3px solid black;
    border-radius: 10px;
    width: 300px;
    height: 300px;
    opacity: 0.7;
     position: absolute;
    box-shadow: 5px 5px 5px black;
    filter: blur(0px);
  }
  .hoverImg{
    position: relative;
    background-color: rgba(255, 255, 255, 0.63);
    padding: 10px;
    border-radius: 25px;
    margin: 50px 30px 0px 30px;
    font-size: 1.2em;
    color: black;
    font-Weight: Bold;
     font-family: 'Calibri' !important;
     text-align: center;
     
  }
  .groopCard{
 padding: 50px;

  }
  .conseil:hover{
    box-shadow: 10px 10px 10px black;
  }
  .groopCard:hover{
 text-decoration: none; 
  }
  .entreprise{
    display: flex;
    justify-content: space-between;
    padding-right: 125px;
   
  }
  .imageBilan{
    border-radius: 25px;
    margin: 50px 0px 50px 0px;
  }
  h1, h2, h3{
    font-family: 'Caviar Dreams' !important;
    text-align: center;
  }
  .title_second{
    margin-top: 50px;
  }
  h1{
    font-size: 3em !important;
  }
    h2{
    font-size: 2.5em !important;
  }
}