.Bilan{
    padding-top: 100px;
}
.title{
  padding: 20px 0px 0px 50px;
}
.button_submit{
    border-radius: 8px;
      padding: 10px 10px 10px 10px;
       margin: 0px 0px 100px 40%;
    border: none;
    background-color: #3ea770;
    color: white;
    align-self: center;
    font-weight: bold;
    transition: 0.4s;

  }
  .button_submit:hover{
    background-color: #3ea770;
    color: black;
    transition: 0.4s;
  }
  .fiche_salarier{
    padding: 20px 0px 0px 100px;
  }