@import '../index.scss';

.home {
  background-image: url("https://media.giphy.com/media/SHUu78CIqq4FO/giphy.gif");
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  width: 100%;
  height: 100%;

  .titretransparent {
    font-family: $font-general;
    background-color: black;
    color: white;
    margin: auto;
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;

    .intermediaire {
      padding: 200px;


      h1 {
        text-align: center;
        font-size: 100px;
      }

      h2 {
        text-align: center;
        font-size: 50px;

        sup {
          font-size: 30px;
        }
      }

      .agirlink {
        font-size: 50px;
        text-align: center;
        height: 200px;
        margin-top: 100px;


        .linkcolor {
          padding-left: 30px;
          padding-right: 30px;
          border: 2px solid white;
          background-color: white;
          border-radius: 10px;
          color:#000724;
        }
      }
    }
  }
}