
.navbar{
  position: fixed !important;
  width: 100%;
  z-index: 1;
}
.colorfond{
background-color: #000724 !important;
}
.texte_link{
  color: white;
   font-family: 'Caviar Dreams' !important;

}
.texte_align_center{
  text-align: center;
  font-size: 2em;
}
.texte_link:hover{
  color: white !important;
}