.zob {
  width: 480px;
  height: 240px;
}
.anounceRow {
  background-image: linear-gradient(141deg, #a8bec5 0%, white 51%, #dddfb6 95%);
  border-radius: 1%;
  margin-top: 10%;
  padding-top: 50px;
}
.textAnounce {
  font-size: xx-large;
  padding-top: 30px;
}
.textPrice {
  text-align: center;
  font-size: x-large;
}
.buttonVendor {
  background-color: #000724;
  color: white;
  position: absolute;
  left: 40%;
}
.buttonVendor:hover {
  background-color: #3ea770;
}
.zob {
  position: relative;
}